@import url('https://fonts.googleapis.com/css?family=Bad+Script|DM+Serif+Display|Great+Vibes|Tangerine&display=swap');

h3 {
	text-align: center;
	font-family: 'DM Serif Display', serif;
	font-size: 45px;
}

.SalonOwnerRegistrationForm_form {
	margin: 2em;
}

.user_inputs{
	margin-left: 21em;
}

.user_inputs input{
	border-radius: 5px;
	width: 50%;
	margin: 0.5em;
}

.user_inputs textarea{
	border-radius: 5px;
	width: 50%;
	margin: 0.5em;
}

.files {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.submit-button {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(28, 184, 65);
	font-size: 125%;
	margin-bottom: 3em;
	margin-left: 23em;
	font-family: 'DM Serif Display', serif;
}

.label-font {
	font-family: 'DM Serif Display', serif;
}