@import url('https://fonts.googleapis.com/css?family=Bad+Script|DM+Serif+Display|Great+Vibes|Tangerine&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Bad Script', cursive; 
font-family: 'DM Serif Display', serif;*/

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.navbar {
  background: rgb(117, 189, 210);
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1em;
  /* animation-name: fadeIn;
  animation-duration: 10s; */
}
 
.signup {
  padding-top: 0.5em;
  padding-left: 35em;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  /* animation-name: fadeIn;
  animation-duration: 10s; */
}

.login {
  padding-top: 0.5em;
  padding-left: 5em;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  /* animation-name: fadeIn;
  animation-duration: 5s; */
} 

.navbar li a{
  color: aliceblue;
  /* animation-name: fadeIn;
  animation-duration: 5s; */
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 45px;
  font-weight: bold;
  /* animation-name: fadeIn;
  animation-duration: 10s; */
}


.title {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 100px;
  padding-top: 2.5em;
  animation-name: fadeIn;
  animation-duration: 5s;
}