@import url('https://fonts.googleapis.com/css?family=Bad+Script|DM+Serif+Display|Great+Vibes|Tangerine&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Bad Script', cursive; 
font-family: 'DM Serif Display', serif;*/

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.navbar {
  background: rgb(117, 189, 210);
  width: 100%;
  overflow: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1em;
  /* animation-name: fadeIn;
  animation-duration: 10s; */
}
 
.navbar li a{
  color: aliceblue;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 12px;
}

.navbar li a:hover {
  background-color: rgb(80, 169, 196);
}

.signup {
  padding-top: 0.5em;
  padding-left: 35em; 
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
}

.login {
  padding-top: 0.5em;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
} 


.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 45px;
  font-weight: bold;
  animation-name: fadeIn;
  animation-duration: 10s;
}


.title {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 100px;
  padding-top: 2.5em;
  animation-name: fadeIn;
  animation-duration: 5s;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(117, 189, 210);
  color: white;
  text-align: center;
}